@model TransCanada.Models.Billing

@{
    ViewBag.Title = "Price";
    Layout = null;
}


    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PriceList</h4>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm())
                    {


                        @*@Html.AntiForgeryToken()*@

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(model => model.id)*@
                        @Html.HiddenFor(model => model.Lab_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.lab_services_ext_description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Specimen_Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Drugs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Client_id, new { htmlAttributes = new { @class = "form-control" } })



                        @Html.HiddenFor(model => model.lab_services_description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lab_services_description, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.service_charges, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.service_charges, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.service_charges, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.client_billing_charges, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.client_billing_charges, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.client_billing_charges, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Medical_Review_Office_Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Medical_Review_Office_Cost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Medical_Review_Office_Cost, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Vendor_management, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Vendor_management, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vendor_management, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Document_Upload, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Document_Upload, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Document_Upload, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Billing_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Billing_Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Billing_Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Collection_Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Collection_Cost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Collection_Cost, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div id="dialog-alert"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
