@model IEnumerable<TransCanada.Models.Services>

@{
    ViewBag.Title = "Services";
}

<h2>Lab->@TempData["LabNameforservices"]->Product and Service</h2>
@{
    TempData.Keep("LabNameforservices");
    
}
<div style="float:right">
    @Html.ActionLink("Back to LabList", "LabList")
</div>
<p>
    @Html.ActionLink("Add New", "CreateServiceGroup", new { id = ViewBag.LabName })
</p>
<table class="table" id="Table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Service_id)
                </th>*@
            <th>
                Product and Service
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Labid)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Service_Name)
                </td>
                <td>
                    @Html.ActionLink("Panels", "UpdateServiceGroup", new { id = item.Service_id }) |
                    @Html.ActionLink("Delete", "DeleteServiceGroup", new { id = item.Service_id }, new { onclick = "return confirm('Are you sure you want to delete this ?');" })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
@Html.ActionLink("Back to LabList", "LabList")
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

    $('#Table').dataTable({
        responsive: true
    });

</script>